*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(83, 237, 11, 0.895), rgba(251, 4, 4, 0.84));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.logo{
    max-width: 800px;
    margin-bottom: 24px;
    background-color: hwb(107 0% 0% / 0.922);
    filter: invert(1);
}

.container-input{
    max-width: 580px;
    margin: 18px 0;
}

.container-input span{
    color: rgb(30, 255, 0);
    font-size: 30px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 12px;
    background: #dfdfdf;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta{
    background-color: hwb(282 17% 28%);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
    color: #b2a5a5;
    font-weight: bold;
    font-size: 30px;
}

.container-password{
    max-width: 480px;
    margin: 18px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: rgb(165, 43, 226);
    font-size: 35px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password{
    height: 80px;
    background-color: rgba(0,0,0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  red;
    border: 1px solid #6b5d5d;
    transition: transform 0.5s;
}

.password:hover{
    transform: scale(1.05);
}

.tooltip{
    color: aqua;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgb(165, 43, 226);
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0,5s ease-in-out;
}

.hide{
    display: none;
}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}